@{
    ViewData["Title"] = "Home Page";
}

<div class="card-body">
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-center">
            <a asp-area="" asp-controller="SanPhams" asp-action="Index" class="btn btn-primary">
                <i class="bi bi-box-seam"></i> Quản lý sản phẩm
            </a>
            <a asp-area="" asp-controller="LoaiSanPhams" asp-action="Index" class="btn btn-success">
                <i class="bi bi-tags"></i> Quản lý loại sản phẩm
            </a>
        </div>
    </div>
</div>


