@model IEnumerable<MenuItem>

<div class="d-flex flex-column p-3" style="height:100%;">
    <h5 class="text-center text-primary mb-4">Menu</h5>

    <ul class="nav nav-pills flex-column mb-auto">
        @foreach (var item in Model)
        {
            <li class="nav-item mb-1">
                <a href="@item.Link" class="nav-link link-dark">
                    <i class="bi bi-house-door"></i> @item.Name
                </a>
            </li>
        }
    </ul>

    <hr />

    <div class="text-center small text-muted">
        © 2025 PDH Lab
    </div>
</div>




