@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card-body">
    <a asp-area="" asp-controller="LoaiSanPhams" asp-action="Index" class="btn btn-primary"> Quản Lý Loại Sản Phẩm</a>
    <a asp-area="" asp-controller="SanPhams" asp-action="Index" class="btn btn-info"> Quản Lý Sản Phẩm</a>
    <a asp-area="" asp-controller="KhachHangs" asp-action="Index" class="btn btn-success"> Quản Lý Khách Hàng</a>

</div>

