@{
    ViewData["Title"] = "Home Page";
}

<h1>Mã sinh viên: 231230796</h1>
<h2>Họ tên: Phùng Đình Hùng - Lớp: CNTT1K64</h2>

<a asp-area="" asp-controller="Student" asp-action="Index" class="btn btn-primary">Go to Student List</a>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
