@model IEnumerable<pdh_Day14_Lab4.Models.Major>

<ul class="nav">
    Dong bo :  
    @foreach (var major in Model)
    {
        <li class="nav-item">
            <a class="nav-link"
               asp-controller="Learners"
               asp-action="Index"
               asp-route-majorId="@major.MajorID">
                @major.MajorName
            </a>
        </li>
    }
</ul>
<ul class="nav">
    Khong dong bo :  
    @foreach (var major in Model)
    {
        <li class="nav-item major-item" data-major="@major.MajorID">
            <a class="nav-link">@major.MajorName</a>
        </li>
    }
</ul>

