@{
    ViewData["Title"] = "Home Page";
}
<h1>Phùng Đình Hùng - 231230796</h1>

<a class="btn btn-primary" asp-area="" asp-controller="Learners" asp-action="Index">Learners</a>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
